table {
    width: 100%;
}

table td, table th {
    padding: 2px 6px 2px 3px;
    white-space: nowrap;
    text-align: left;
}

.container {
    width: auto;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

/* 下面為原來自己寫的table css */

/* .order-info {
    padding: 5px;
    margin: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
}

table, th, td {
    border: dimgray 1px solid;
    white-space: nowrap;
    text-align: left;
}

th, td {
    padding: 3px 50px 3px 5px;
}

th, .time, li {
    white-space: nowrap;
    text-align: left;
} */

li {
    list-style: none;
}