<h1>Orders</h1>

<div class="container">
    <!-- 自己寫的table -->
    <!-- <table>
        <thead>
            <tr>
                <th>送出時間</th>
                <th>訂購人</th>
                <th>聯絡資訊</th>
                <th>地址</th>
                <th>物品清單</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td class="time">
                    {{order.time | date:'yyyy-MM-dd hh:mm:ss'}}
                </td>
                <td>
                    {{order.name}}
                </td>
                <td>
                    <li *ngFor="let contact of order.contacts">
                        ({{contact.type}}){{contact.number}}
                    </li>
                </td>
                <td>
                    {{order.address}}
                </td>
                <td>
                    <li *ngFor="let item of order.items">
                        <span>{{item.name}} </span>
                        <span>(${{item.price}})</span>
                    </li>
                </td>
            </tr>
        </tbody>
    </table> -->

    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 送出時間 </th>
                <td mat-cell *matCellDef="let element"> {{element.time | date:'yyyy-MM-dd hh:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 訂購人 </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="contacts">
                <th mat-header-cell *matHeaderCellDef> 聯絡資訊 </th>
                <td mat-cell *matCellDef="let element">
                    <li *ngFor="let contact of element.contacts">
                        ({{contact.type}}){{contact.number}}
                    </li>
                </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 地址 </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="items">
                <th mat-header-cell *matHeaderCellDef> 物品清單 </th>
                <td mat-cell *matCellDef="let element">
                    <li *ngFor="let item of element.items">
                        <span>{{item.name}} </span>
                        <span>(${{item.price}})</span>
                    </li>
                </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 總價 </th>
                <td mat-cell *matCellDef="let element">
                    ${{element.total}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,1,5]" showFirstLastButtons style="min-width: 240px;"></mat-paginator>

    </div>
</div>
