<div style="margin: 10px;">
    <h2>Products</h2>
    <div class="form-group">
        <div fxLayout="row warp" fxLayoutAlign="start stretch" fxLayoutGap="5px">
            <div fxLayout="column" fxLayoutAlign="center">
                <label for="filterInput">Keyword Filter</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center">
                <input id="filterInput" type="text" #filterInput (input)="tofilter(filterInput.value)">
            </div>
        </div>
    </div>
</div>

<!-- 使用Angular Flex-Layout -->
<div fxLayout="row warp" fxLayoutAlign="start stretch">
    <!-- <div *ngFor="let product of products; let i = index"></div> -->
    <app-card *ngFor="let product of productsFromFilter;" [product]="product" [isShowShareBtn]=true fxFlex="400px"
        fxFlex.xs="95%" style="margin: 10px;">
        <!-- style="width: 400px; flex-grow: 0.6;" -->
    </app-card>
</div>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
