.container {
    /* .container在Global Styles已有定義 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card {
    background-color: honeydew;
    border: 1px solid;
    border-radius: 5px;
    width: 380px;
    min-width: 240px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 50px 0px #e9e9e9, 2px 2px 2px 1px #a7a7a7;
    flex-grow: 0.6;
}

@media screen and (max-width: 450px) {
    .card, .container>i {
        width: 60%;
    }
}

.container>.empty {
    /* .container>i最後佔位用，使最後一行的.card能靠左對齊 */
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.card-bottom>* {
    margin-left: 5px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
